body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(/Assets/Images/restaurantbg.png);
    background-size:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom Css*/

#topbar img {
    height: 100%;
    width: auto;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
#body_container{
    height:100%; /* force the BODY element to match the height of the HTML element */
    
}
#cloud-container{
    
    background-color: white;
}

#home_header img {
    width: 100%;
}

.topdiv{
    background-color: orange;
    height: 20px;
}
.gallery_container {
    margin-top: 10px;
}

.sidebar {
    background-color: darkslategrey;
    color: white;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sidebar img {
    width: 100%;
    height: auto;

}

.sidebarinner {
    text-align:center;
    margin-bottom: 10px;
    
}

.itemname {
    background-color:dimgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    color:white;
    font-family: 'Century Gothic';
}

.descript {
    background-color: darkslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pricediv {
    margin-left:1px;
    background-color:dimgrey;
    

}

.fill { 
    min-height: 100%;
    height: 100%;
}

.row{
    overflow: hidden; 
}

